:host {
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

.container {
  max-width: 40em; 
}

.card {
  background: #fff;
  border-radius: 0.625em;
  border: none;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-weight: 600;
}

.form-label {
  font-weight: 500;
  color: var(--secondary-color);
  text-align: left;
  display: block;
}

.form-control {
  border-radius: 0.125;
  padding: 0.625em;
  border: 0.125em solid var(--primary-color);
  transition: 0.3s ease-in-out;
}

.form-control:focus {
  border-color: var(--accent-color);
}

.is-invalid {
  border-color: var(--danger-color);
}

.invalid-feedback {
  font-size: 0.875em;
  text-align: left;
  color: var(--danger-color);
}

.btn-success {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0%;
  font-weight: 600;
  transition: 0.3s;
  padding: 0.625em;
  width: 40%;
  height: 140%;
}

.btn-success:hover {
  box-shadow: 0 0 0.5em var(--darkgray);
}
