<div class="container mt-5">
  <div class="card p-4 shadow">
    <h2 class="text-center">Сброс пароля</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3" *ngIf="!showNewPasswordFields">
        <label for="phoneNumber" class="form-label mt-3">Номер телефона</label>
        <input type="text" id="phoneNumber" class="form-control" placeholder="Введите номер телефона" formControlName="phoneNumber"
          [ngClass]="{'is-invalid': form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid}">
        <div *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid" class="invalid-feedback">
          <div *ngIf="form.get('phoneNumber')?.hasError('required')">Номер обязателен.</div>
          <div *ngIf="form.get('phoneNumber')?.hasError('minlength')">Должен состоять из 12 символов.</div>
          <div *ngIf="form.get('phoneNumber')?.hasError('maxlength')">Должен состоять из 12 символов.</div>
        </div>
      </div>
      

      <div class="mb-3" *ngIf="showVerificationField && !showNewPasswordFields">
        <label for="verificationCode" class="form-label">Код подтверждения</label>
        <input type="text" id="verificationCode" class="form-control" placeholder="Введите код подтверждения" formControlName="verificationCode"
          [ngClass]="{'is-invalid': form.get('verificationCode')?.touched && form.get('verificationCode')?.invalid}">
        <div *ngIf="form.get('verificationCode')?.touched && form.get('verificationCode')?.invalid" class="invalid-feedback">
          <div *ngIf="form.get('verificationCode')?.hasError('required')">Код обязателен.</div>
        </div>
      </div>
      

      <div *ngIf="showNewPasswordFields">
        <div class="mb-3">
          <label for="newPassword" class="form-label">Новый пароль</label>
          <input type="password" id="newPassword" class="form-control" placeholder="Введите новый пароль" formControlName="newPassword"
            [ngClass]="{'is-invalid': form.get('newPassword')?.touched && form.get('newPassword')?.invalid}">
          <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid" class="invalid-feedback">
            <div *ngIf="form.get('newPassword')?.hasError('required')">Пароль обязателен</div>
            <div *ngIf="form.get('newPassword')?.hasError('minlength')">Пароль должен содержать не менее 6 символов.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Подтвердите пароль</label>
          <input type="password" id="confirmPassword" class="form-control" placeholder="Подтвердите новый пароль" formControlName="confirmPassword"
            [ngClass]="{'is-invalid': form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid}">
          <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid" class="invalid-feedback">
            <div *ngIf="form.get('confirmPassword')?.hasError('required')">Поле обязательно</div>
            <div *ngIf="form.get('confirmPassword')?.hasError('minlength')">Должен содержать не менее 6 символов.</div>
          </div>
        </div>
      </div>
      
      <button class="btn-code" type="submit">
        {{ !showVerificationField ? 'Отправить код подтверждения' : (!showNewPasswordFields ? 'Проверить код' : 'Сбросить пароль') }}
      </button>
      <div *ngIf="errorMessage" class="invalid-feedback d-block text-center mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>

