@font-face {  
  font-display: swap;
  font-family: "Pt Root";
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/PT Root UI_Medium/PT Root UI_Medium.otf') format('openType');
}
@font-face {
  font-display: swap;
  font-family: "Pt Root";
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/PT Root UI_Bold/PT Root UI_Bold.otf') format('openType');
}
  
  
@font-face {
  font-display: swap;
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/AnonymousPro_All/AnonymousPro-Regular.ttf') format('truetype');
}
@font-face {  
  font-display: swap;
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/AnonymousPro_All/AnonymousPro-Regular.ttf') format('truetype');

}
@font-face {
  font-display: swap;
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/AnonymousPro_All/AnonymousPro-Bold.ttf') format('truetype');
}
  
  
   

